!!!
%html
  %head
    %meta(encoding="UTF-8")
    %title= title

    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %meta(name="description" content="")
    %meta(name="author" content="")

    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css")

    - if defined? style
      :css
        #{style}

    - if defined? css
      - css.each do |src|
        %link(rel="stylesheet" href=src)
  %body

    =yield

    /[if lt IE 9]
      %script(src="//yandex.st/json2/2011-10-19/json2.min.js")
    %script(src="//yandex.st/jquery/1.9.1/jquery.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js")
    -# %script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
    -# %script(src="/js/app.js")

    - if defined? js
      - js.each do |src|
        %script(src=src)

